body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.menu-image{
    width: 150px;
    height: 150px;
}

header{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.homepic>img{
    width: 300px;
}


#content{
    background-color: aquamarine;
    width: 50vw;
    height: calc(100vh - 50px);
    text-align: center;
    margin-left: 25%;
}

button{
    background-color: white;
    color: black;
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
}